div.contenuItem {
	display: block;
	text-align: center;
	border: 1px solid black;
	margin: auto;
	width: auto;
	padding: 10px;
	padding-top: 0px;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, grey, white, white, white);
}

div.contenuItemContenu::first-letter {
	font-size: 200%;
}

h4 {
	font-size: 1.5em;
}
